article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:0px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	font-family: 'Oxygen', sans-serif;
  font-weight: 300;
}
.nav-container{
	width: 100vw;
	height: 20vh;
	display: flex;
	display: -webkit-flex;
}
.nav{
	display: flex;
	display: -webkit-flex;
	justify-content:center;
	align-items:center;
	width: 100vw;
	height: 20vh;
}
h1, h2 {
	font-weight: 300;
	letter-spacing: 1em;
	text-transform: uppercase;
	color: #000000;
	text-align: center;
}
.mejs-controls {display: none !important;}
::-webkit-media-controls {
  display:none !important;
}
video::-webkit-media-controls {
  display:none !important;
}
video::-webkit-media-controls-enclosure {
  display:none !important;
}

.header {
	display: flex;
	display: -webkit-flex;
	height: 100vh;
	background: url(images/background.jpg);
	background-size: cover;
}

.container {
	display: flex;
	display: -webkit-flex;
	margin: auto;
	height: 100vh;
	width: 100vw;
	text-align: center;
}

.container2{
	display: flex;
	display: -webkit-flex;
	height: 100%;
	background-color: #ffffff;
}

.music{
		padding-top: 2em;
		width:100vw;
		text-align: center;
		justify-content:center;
}

.music h1{
	padding-bottom: 1em;
}

.container3{
	padding-top: 2em;
	padding-bottom: 2em;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
    justify-content:center;
	background-color: #ffffff;
	height: 100%;
	margin: 0px;
}
.social{
	background-color: #ffffff;
	padding: 0.2em;

}

.soundcloud{
	width: 50%;
}
.video{
	height: 100vh;
	width: 100vw;
	justify-content:center;
	align-items:center;
}
	video#bgvid {	
	background: #ffffff;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	  object-fit: cover !important;
	}

.container4{
	padding-bottom: 2em;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
    justify-content:center;
	background-color: #000000;
	height: 100%;
	margin: 0px;
}
.contact{
	color: #ffffff;
}
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

form { max-width:420px; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #ffffff;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#ffffff;
  border:0;
  cursor:pointer;
  color:#000000;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }

.contact-header{
	margin-left: 5%;
}
@media only screen and (max-device-width: 640px){ 
	.soundcloud{
		width: 75%;
	}


}
